/* Estilo del contenedor de la sección */
.capacitacionYFormacionContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

/* Estilo para el titulo de la sección */
.capacitacionYFormacionTitle {
    width: 100%;
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
    height: 55px;
    margin-bottom: 88px;
}

/* Estilo para más información de la sección */
.masInformacionCapacitacionYFormacionContainer {
    display: flex;
    align-items: center;  
    margin-top: 80px;
    width: 100%;
    height: 435px;
    flex-shrink: 0;
  
}

/* Estilo para el texto de mas información de la sección */
.masInformacionCapacitacionYFormacion {
   
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: 1.1;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
@media(max-width:500px){
    .masInformacionCapacitacionYFormacion{
        padding:20px;
        font-size:22px;
        hyphens: auto;
    }
}
/* Estilo para el subtitulo de la sección */
.capacitacionYFormacionSubtitle {
    margin-top: 80px;
    margin-bottom: 80px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
}

/* Estilo del contenedor de las cards */
.areasClaveCardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: hidden; /* Ocultar la barra de desplazamiento por defecto */
    gap: 6px;
    box-sizing: border-box;
}

/* Mostrar la barra de desplazamiento al hacer hover */
.areasClaveCardsContainer:hover {
    overflow-x: auto; /* Mostrar la barra de desplazamiento al hacer hover */
}