/* Contenedor de la sección */
.estudiosDeUsabilidadContainer {
    width: 100%;

    height: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 80px;
}

/* Estilo para el titulo de la sección */
.estudiosDeUsabilidadTitle {
    width: 100%;
    height: auto;
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
    
    margin-bottom: 88px;
}