/* Estilo de las cards */
.serviciosIndustriaCard { 
    flex: 0 0 calc(33.33% - 10px);
    height: auto;
    min-height: 340px;
    background: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    padding: 30px 0;
    width: auto;
    max-width: 520px;
}

@media(max-width:800px){
    .serviciosIndustriaCard{
        flex: 0 0 calc(50% - 10px);
    }
}

@media(max-width:500px){
    .serviciosIndustriaCard{
        flex: 0 0 calc(100% - 10px);
    }
}
/* Estilo del titulo de la card */
.serviciosIndustriaCardTitle { 
    width: 95%;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1000px) {
    .serviciosIndustriaCardTitle{
        font-size: 35px;
        
    }
}
/* Estilo del texto de la card */
.serviciosIndustriaCardText { 
    width: 100%;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1000px) {
    .serviciosIndustriaCardText{
        width: 95%;  /* Se reduce el ancho */
     
        font-size: 28px;
        
    }
}