/*******Contenedor del Titulo carrusel Formacion Academica*******/
.titulonosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 6vh;
    animation: titulonosotros 1.5s forwards;
}

/******Imagen del Carrusel******/
.img1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.30);
    filter: brightness(75%);
}

/*****Texto del titulo*****/
.titulonosotrostxt {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: Montserrat, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.05em;
}

/******Contenedor del contenido del carrusel Nosotros*****/
.contenidonosotros {
    width: 100%;
    display: flex;
    margin-bottom: -5vh;
    margin-left: 0;
    padding: 2%;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.30);
    justify-content: center;
    align-items: center;
    animation: contenidonosotros 1.5s forwards;
}

/*****Texto del contenido del carrusel Nosotros*****/
.contenidonosotrostxt {
    width: 85%;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02em;
}

.separador2 {
    height: 10vh;
    width: 100%;
}

.linea1 {
    width: 696px;
    height: 1px;
    background: #DADADA;
}

.separador3 {
    height: 5vh;
    width: 100%;
}

.linea2 {
    width: 941px;
    height: 2px;
    background: #DADADA;
}

.lineadiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linea3 {
    width: 1613px;
    height: 2px;
    background: #DADADA;
}
@media (max-width: 768px) {
  
  .titulonosotros {
    margin-bottom: 4vh;
    padding: 0 10px;
  }

  .titulonosotrostxt {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .img1 {
    height: 50vh;
    object-fit: cover;
  }

  .contenidonosotros {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 0;
  }

  .contenidonosotrostxt {
    font-size: 15px;
    width: 100%;
  }

  .linea1,
  .linea2,
  .linea3 {
    width: 90%;
  }

  .separador2,
  .separador3 {
    height: 4vh;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 512px) and (max-height: 1366px){
    .contenidonosotrostxt{
        font-size: 17px;
    }

    .titulonosotrostxt{
        font-size: 40px;
    }

    .img1{
        height: 45vh;
    }

    .linea2{
        width:526px;
    }
}