/* Estilo de la ventana "Servicios: Academia" */
.servicios-academia-window-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para el separador de la sección */
.separador-servicios-academia {
    margin-top: 153px;
    margin-bottom: 126px;
    width: 100%;
    height: auto;
    background: #D4D4D4;
}
