/* CONTENEDOR DE LA VENTANA TRABAJEMOS JUNTOS */
.trabajemos-juntos-window-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px; 
    justify-content: center;
    margin: 0 auto;
}

/* Estilo de la frase en la ventana */
.frase {
    max-width: 1015px;  
    width: 100%;        /* Que se adapte al 100% del contenedor hasta el max-width */
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    
}
@media (min-width: 1358px) and (min-height: 878px) {
    .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
    display: block;
}



.descripcion-container {
    text-align: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
}

}