/**************** SECCIÓN: PUBLICACIONES ****************/

    .publicaciones-container {
        width: 100%;
        margin-top: 50px;
        height: 1180px;
        display: grid;
    }   
/* Titulo "Publicaciones" */
.publicaciones-title {
    justify-self: center;
    width: auto;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 81px;
}

/* Contenedor para la lista de publicaciones */
.publicaciones-list {
    justify-self: center;
    width: 1358px;
    height: 1040px;
    /* gap: 40px; Se quita el gap para simular una sola linea*/
    overflow-y: auto;
    /* scrollbar-width: none; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
} 

/* Mostrar la barra de desplazamiento al hacer hover */
.publicaciones-list:hover {
    overflow-y: auto; 
}

/* Separador de la imagen y el contenido de la publicación */
.vertical-line {
    position: absolute;
    left: 534px;
    width: 1px;
    height: 406.074px;
    /* height: 8489px; */
    background: #D7D7D7;
}

/* Tarjeta para cada publicación */
.publication-card {
    width: 1328px;
    height: 406.074px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
}

/* Contenedor de la imagen de la publicación */
.image-publication-card {
    position: absolute;
    top: 50px;
    left: 35.85px;
    width: 448.011px;
    height: 305.691px;
    flex-shrink: 0;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

/* Contenedor del contenido de la publicación */
.publication-card-content {
    position: absolute;
    top: 32px;
    right: 36px;
    width: 694px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Titulo de la publicación */
.publication-card-title {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}

/* "Subtitulo de la publicación" */
.publication-card-subtitle {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
}

/* Autores de la publicación */
.publication-card-authors {
    margin-top: 48px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}


/***************************tablet******************************************/
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 512px) and (max-height: 1366px) {
   

    .publicaciones-container {
        width: 100%;
        margin-top: 50px;
        height: 1000px;
        display: grid;
    }   
/* Titulo "Publicaciones" */
.publicaciones-title {
    font-size: 40px;  
}


/* Contenedor para la lista de publicaciones */
.publicaciones-list {
   
    width: 100%;
    height: 920px;
  
}

.vertical-line { 
    left: 40%;
 
    height: 100%;
}

.publication-card {
    width: 100%;
    height: 25%;
}

/* Contenedor de la imagen de la publicación */
.image-publication-card {
    top: 5px;
    left: 0px;
    width: 40%;
    height: 70%;
}

/* Contenedor del contenido de la publicación */
.publication-card-content {
    top: 5px;
    width: 50%;
    height: 80%;
}

/* Titulo de la publicación */
.publication-card-title {
  
    font-size: 18px;
   
}

/* "Subtitulo de la publicación" */
.publication-card-subtitle {
  
    font-size: 12px;
   
}

/* Autores de la publicación */
.publication-card-authors {
   
    font-size: 10px;
   
}

}

@media (max-width: 430px) {

    .publicaciones-container {
        width: 100%;
        margin-top: 50px;
        height: 1000px;
        display: grid;
    } 
/* Titulo "Publicaciones" */
.publicaciones-title {
    height: 20px;
    font-size: 5vw;
    margin-bottom: 5px;
}


/* Contenedor para la lista de publicaciones */
/* Contenedor para la lista de publicaciones */
.publicaciones-list {
   
    width: 100%;
    height: 1000px;
  
}

.vertical-line { 
    left: 40%;
 
    height: 100%;
}

.publication-card {
    width: 100%;
    height: 12%;
}

/* Contenedor de la imagen de la publicación */
.image-publication-card {
    top: 15px;
    left: 25px;
    width: 25%;
    height: 65%;
}

/* Contenedor del contenido de la publicación */
.publication-card-content {
    top: 0px;
    width: 50%;
    right: 8px;
    height: 100%;
}

/* Titulo de la publicación */
.publication-card-title {
  
    font-size: 2.3vw;
   
}

/* "Subtitulo de la publicación" */
.publication-card-subtitle {
  
    font-size: 1.8vw;
   
}

/* Autores de la publicación */
.publication-card-authors {
    margin-top: 8px;
    font-size: 1.5vw;
   
}

}