/* Estilo del contenedor de la sección */
.incorporacionDeHciEnPlanesDeEstudioContainer {
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Estilo del titulo de la sección */
.incorporacionDeHciEnPlanesDeEstudioTitle {
    margin-top: 111px;
    margin-bottom: 120px;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
    text-align: center;
}