/* Estilo de la Card de objetivos */
.objetivosDeLaIncorporacionDeHciCard {
    width: 100%;/*1728*/
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

@media (min-width: 1400px) {
    .objetivosDeLaIncorporacionDeHciCard {
        width: 90%; /* Ajusta el ancho a un 85% para reducir el espacio a la derecha */        
        margin-left: 5%; /* Añade un margen izquierdo para mantener el espacio */
       
    }
}
/* Estilo del titulo de la card */
.objetivosDeLaIncorporacionDeHciCardTitle {
    
    margin: 40px auto 0 auto;
    width: 90%;
    height: auto;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
  
}
@media(max-width:500px){
    .objetivosDeLaIncorporacionDeHciCardTitle{
        font-size: 45px;
        line-height: 0.9;
    }
}

/* Estilo del texto de la card */
.objetivosDeLaIncorporacionDeHciCardText {
  
    padding: auto;
    width: 90%;
    height: auto;
    flex-shrink: 0;
    color: #FFF;
    margin: 0 auto;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.32px;
    hyphens: auto;
  
}

@media(max-width:500px){
    .objetivosDeLaIncorporacionDeHciCardText{
        font-size: 28px;
        line-height: 0.9;
    }
}
